@import 'variables';
@import 'mixins';
@import 'reset';

html, body {
	background-color: #dddddd;
	font-size: 100%;
	color: #3f3f3f;
	font-family: $gotham;
}

@include selection {
	background-color: $red;
	color: white;
}

.pre-index {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../images/bg_full.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (max-width: 991px) {
		height: 500px;
		background-image: url(../images/bg_landing.jpg);
		background-position: top;
	}
	@media (max-width: 768px) {
		height: 380px;
	}
	.logo-pintura {
		position: absolute;
		width: 400px;
		top: 10em;
		left: 10em;
		@media (max-width: 991px) {
			width: 300px;
			top: 2em;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		@media (max-width: 768px) {
			width: 200px;
			top: 1em;
		}
	}
	.btn-enter {
		position: absolute;
		display: block;
		width: 220px;
		height: 40px;
		background-color: $red;
		border-radius: 50px;
		box-shadow: 5px 5px 20px rgba(0,0,0,.5);
		bottom: 25%;
		font-size: 1.125em;
		color: white;
		text-align: center;
		text-transform: uppercase;
		line-height: 42px;
		transition: .3s;
		@include center-x;
		&:hover {
			background-color: $gray-txt;
		}
		&:active {
			transform: scale(1.1);
		}
	}
}

.landing-content {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100vh;
	@media (max-width: 991px) {
		height: auto;
	}
	&__bg-img {
		position: relative;
		width: 50%;
		height: 100%;
		background-image: url(../images/bg_landing.jpg);
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		@media (max-width: 991px) {
			width: 100%;
			height: 500px;
			background-position: top;
		}
		@media (max-width: 768px) {
			height: 380px;
		}
		.logo-pintura {
			position: absolute;
			width: 350px;
			top: 8em;
			left: 3em;
			@media (max-width: 991px) {
				width: 300px;
				top: 2em;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			@media (max-width: 768px) {
				width: 200px;
				top: 1em;
			}
		}
	}
	&__bg-space {
		width: 50%;
		height: 100%;
		@media (max-width: 991px) {
			width: 100%;
			height: auto;
		}
	}
	.container {
		&.content {
			position: absolute;
			right: 0;
			left: 0;
			@media (max-width: 991px) {
				position: relative;
				padding-top: 2em;
				padding-bottom: 2em;
			}
		}
	}
	.title-first {
		padding: 0 0 2em;
		text-align: center;
		transform: rotate(-2deg);
		h2 {
			font-size: 1.75em;
			color: $red;
			text-transform: uppercase;
			font-weight: 900;
			span {
				display: block;
				color: $blue;
			}
		}
	}
	.landing-row {
		align-items: center;
		@media (max-width: 768px) {
			padding-bottom: 3em;
		}
		&__col {
			width: 50%;
			padding: 0 15px;
			@media (max-width: 991px) {
				width: 100%;
			}
			h1 {
				padding: 0 0 .5em;
				font-size: 1.25em;
				color: $red;
				text-align: center;
				text-transform: uppercase;
				font-weight: 900;
				@media (max-width: 768px) {
					font-size: 1.25em;
				}
			}
			.landing-form {
				padding: .5em 1em 0;
				&__inputs {
					padding: .5em 0;
					text-align: center;
					label {
						display: block;
						margin-bottom: .15em;
						font-size: .875em;
						font-weight: 600;
					}
					input, select {
						display: block;
						width: 100%;
						height: 35px;
						padding-left: 1em;
						margin: 0 auto;
						background-color: white;
						border: none;
						border-radius: 50px;
						box-shadow: 0 10px 20px rgba(0,0,0,.25);
						color: $gray-txt;
						transition: .3s;
						@include appearance(none);
						&:focus {
							box-shadow: 0 10px 20px rgba(220,0,5,.25);
						}
					}
					select {
						background-image: url(../images/arrow-select.png);
						background-position: 95%;
						background-repeat: no-repeat;
						cursor: pointer;
					}
				}
				&__check {
					padding: .5em 0;
					text-align: center;
					label {
						display: block;
						font-size: 1em;
						font-weight: 600;
					}	
					.row-check {
						display: flex;
						margin: 0 -2px;
						@media (max-width: 991px) {
							flex-wrap: wrap;
						}
						&__col {
							position: relative;
							width: 20%;
							padding: 0 2px;
							@media (max-width: 991px) {
								width: 50%;
								padding: 5px 2px;
							}
							@media (max-width: 480px) {
								width: 50%;
							}
							label {
								display: flex;
								align-items: center;
								justify-content: center;
								margin: 0;
								height: 35px;
								background-color: white;
								border-radius: 50px;
								box-shadow: 0 10px 20px rgba(0,0,0,.25);
								font-size: .75em;
								font-weight: normal;
								line-height: 1em;
								transition: .3s;
								cursor: pointer;
								span {
									display: block;
								}
								&:hover {
									box-shadow: 0 10px 20px rgba(220,0,5,.25);
								}
							}
							input {
								position: absolute;
								visibility: hidden;
								&:checked + label {
									background-color: $red;
									color: white;
									box-shadow: 0 10px 20px rgba(220,0,5,.25);
								}
							}
						}
					}
				}
				&__btn {
					padding: 1em 0 0;
					a {
						width: 100%;
						height: 40px;
						background-color: $red;
						display: block;
						margin: 0 auto;
						border-radius: 50px;
						font-size: 1.125em;
						color: white;
						text-align: center;
						line-height: 40px;
						text-transform: uppercase;
						transition: .3s;
						&:hover {
							background-color: $gray-txt;
						}
					}
				}
			}
			&.step1 {
				.landing-form {
					&__inputs {
						input, select {
							width: 60%;
							@media (max-width: 1199px) {
								width: 100%;
							}
						}
					}
					&__btn {
						a {
							width: 60%;
							@media (max-width: 991px) {
								width: 100%;
							}
						}
					}
				}
			}
			.msg-exito {
				padding: 2em 0 0;
				text-align: center;
				h2 {
					padding: 0 0 .35em;
					font-size: 1.85em;
					color: $red;
					text-transform: uppercase;
					font-weight: 900;
				}
				p {
					width: 60%;
					margin: 0 auto;
					font-size: 1.125em;
					line-height: 1.25em;
				}
			}
			.msg-info {
				display: flex;
				align-items: center;
				padding: 1em 0 0;
				transform: rotate(-2deg);
				&__img {
					position: relative;
					width: 30%;
					padding-right: 15px;
					&:after {
						content: "";
						position: absolute;
						width: 1px;
						height: 60%;
						background-color: $red;
						right: 0;
						@include center-y;
					}
					img {
						max-width: 100%;
					}
				}
				&__txt {
					width: 70%;
					padding-left: 15px;
					p {
						padding: 0;
						line-height: 1.25em;
						font-weight: 300;
						span {
							color: $red;
							font-weight: 700;
						}
					}
					h3 {
						padding: .25em 0 0;
						font-size: 1.25em;
						font-weight: 700;
					}
				}
			}
		}
		&.step3 {
			.landing-row {
				&__col {
					&--img {
						width: 100%;
						img {
							width: 40%;
							display: block;
							margin: 0 auto;
						}
					}
					.msg-exito {
						display: block;
					}
				}
			}
		}
	}
}

.foot-brands {
	position: absolute;
	width: 100%;
	height: auto;
	background-color: rgba(255,255,255,.65);
	padding: 1em 0;
	bottom: 0;
	left: 0;
	@media (max-width: 991px) {
		position: relative;
	}
	.brand-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		li {
			@media (max-width: 991px) {
				width: 25%;
			}
			@media (max-width: 768px) {
				width: 50%;
			}
			img {
				display: block;
				width: 100px;
				margin: 0 auto;
			}
		}
	}
}